name: Test

on:
  push:
    branches: [main]

jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Printando versão
        run: |
          echo ${{ github.ref_name }}
          echo "Printou a versão?"
